._5tpk{margin-bottom:10px}
.sp_wHBTtdFvYzg_2x{background-image:url(/rsrc.php/v3/yG/r/Qki55juPkRn.png);background-size:17px 30px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_wHBTtdFvYzg_2x.sx_19399b{background-position:0 0}.sp_wHBTtdFvYzg_2x.sx_2869ce{width:10px;height:12px;background-position:0 -17px}

#bootloader_I6QmA{height:42px;}.bootloader_I6QmA{display:block!important;}